*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:sans-serif;
 }

 body{

    background:#4f81bd;

 }

.box1 {
    margin: 0 auto;
    width: 100%;
}
 .header{
    background:#4f81bd;
    height:70px;
    position:relative;
    margin-bottom:10px;
    border:2px solid #3a608e;
 }
 .header button{
    background:none;
    border:none;
    margin-top:40px;
 }
 .header button:nth-child(-1n+3){
    border-right:2px solid black;
    padding:0 5px;
    margin:5px;
 }
 .header button:hover{
    text-decoration:underline;
    font-weight: bold;
 }
 .container{
    background:#4f81bd;
    padding:20px;
 }
 
 table{
    width:80%;
    margin:auto;
    border-collapse: collapse;
 }
 tr th{
    border-width:1px 1px 3px 1px;
    border-style:solid;
    border-color:#fff;
    color:#fff;
    text-align:left;
    padding:5px;
    background:#4f81bd;
 }
 tr td{
    border:1px solid #fff;
    padding:5px;
 }
 tr:nth-child(even){
    background:#ccc;
 }
 tr:nth-child(odd){
    background:#eee;
 }
 
 input, textarea{
    display:block;
    margin:5px auto;
    background:#e9edf4;
    border:2px solid #3a608e;
    padding:10px 5px;
    width:300px;
    box-shadow: 2px 5px 10px rgba(0,0,0,.7);
 }
 
 input[type="button"]{
    width:150px;
    cursor: pointer;
 }

