* {
    margin: 0;
    padding: 0;
}

.all-items {
    margin: 0 auto;
    padding: 40px;
}

.items {
    border: 1px solid rgb(168, 168, 168);
    border-radius: 3px;
    margin: 15px;
    /* background-size: contain; */
    /* overflow: hidden; */
}

img {
    background-size: contain;
    width: 200px;
    height: 300px;
}

form {
    width: 30%;
    margin: 0 auto;
}

.content {
    width: 50%;
    height: 50%;
    position: fixed;
    left: 25%;
    top: 25%;
    background: rgba(0, 0, 0, 0.719);
    border-radius: 10px;
    /* visibility: show; */
}

.content h2 {
    text-align: center;
    padding: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.content p {
    text-align: center;
    padding: 20px;
    color: #fff;
}
