* {
    margin: 0;
    padding: 0;
}

.all-items {
<<<<<<< HEAD
    width: 82%;
    margin: 0 auto;
    padding: 40px;

=======
    width: 79%;
    margin:0 auto;
    border: 1px solid red;
    padding: 40px;
    /* border: 1px solid rgb(61, 61, 61); */
>>>>>>> bac3e241c9c7ca2aaba6922885663ad8ca6bea89
}

.items {
    width: 200px;
    height: 300px;
    border: 1px solid rgb(168, 168, 168);
    border-radius: 3px;
    margin: 15px;
<<<<<<< HEAD
    /* overflow: visible; */
}

img {
    background-size: cover;
    width: 200px;
    height: 300px;
}

form {
    width: 30%;
    margin: 0 auto;
}

.content {
    width: 50%;
    height: 50%;
    position: absolute;
    left: 25%;
    top: 25%;
    background: rgba(0, 0, 0, 0.719);
    border-radius: 10px;
    visibility: show;
}

.content h2 {
    text-align: center;
    padding: 20px;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}

.content p {
    text-align: center;
    padding: 20px;
    color: #fff;
}
=======
    padding: 20px;
}
>>>>>>> bac3e241c9c7ca2aaba6922885663ad8ca6bea89
